In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
from sklearn import tree, linear_model
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [2]:
data = pd.read_csv("gender_task_set_open.csv")

In [3]:
ids = data["id"]

In [4]:
data = data[
    [
      'videos_count', 
      'photos_count', 
      'gifts_count', 
      'audios_count', 
      'friends_count', 
      'followers_count'
    ]
]

In [5]:
train_data = pd.read_csv("gender.csv")

In [6]:
train_data

       IDS  SEXES  VIDEOS  PHOTOS  GIFTS  AUDIOS  FRIENDS  FOLLOWERS
0    10003      2      56      40     73     274      239        469
1    10030      2       5       2      9       0      129        205
2    10036      2      13     117     13      65      354        283
3    10037      2       0       3      0     311       20        106
4    10100      1      23      44     39       0      329       1635
..     ...    ...     ...     ...    ...     ...      ...        ...
995  25537      1     202     914      5    1033      289        155
996  25562      1       1     253      4       8      565        224
997  25565      2      27      31     12       0      206        257
998  25601      1     395    1452      3     467      297        125
999  25633      2       0       0      0       0        0          1

[1000 rows x 8 columns]

In [7]:
target = train_data["SEXES"]
train = train_data.drop("SEXES", axis=1)
train = train.drop("IDS", axis=1)

In [8]:
scaler = preprocessing.StandardScaler()
scaler.fit(train)

train = scaler.transform(train)
data  = scaler.transform(data)

In [9]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=100)
clf.fit(train, target)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [10]:
data_outputs = clf.predict(data)

In [11]:
ans = ids.to_frame()
ans["sex"] = data_outputs
ans.to_csv("output.csv", index = False)

In [12]:
ans

        id  sex
0        1    1
1        2    2
2        3    2
3        4    2
4        5    1
...    ...  ...
9373  9374    2
9374  9375    2
9375  9376    2
9376  9377    2
9377  9378    2

[9378 rows x 2 columns]